[Desktop Entry]
Type=Application
Name=Numpty Physics
Exec=numptyphysics
Icon=numptyphysics
Categories=Game;LogicGame;KidsGame;Simulation;
Terminal=false
